
#libraryContainer {
    display: grid;
    border: solid 3px silver;
    margin: auto;
    width: 60%;
    padding: 1%;
}

.shelf {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5px;
    margin: 5px;
}

.label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    display: inline-flex;
}

.hide {
    display: none;
}


.testButton:hover, .deleteButton:hover{
    background-color: #f8f9fa6e;
}
.testButton, .deleteButton {
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    display:inline-flex;
    align-items: center;

}

.navButton {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(191, 245, 245);
    color:rgb(5, 34, 84);
    border-radius: 10px;
    border-color: rgb(32, 221, 221);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-size: 20px ;
    text-decoration: none;
    display:block;
    text-align: center;
}
